.formoney-error{
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.form-search-error{
    width: 95%;
    margin: 20px auto;
    box-shadow: 0px 0px 5px #CCC;
}

.form-search-error form{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-search-error form input[type="search"]{
    width: 80%;
    padding: 20px;
    border: 1px solid #CCC;
    border-right: none;
    font-size: 1.2em;
}

.form-search-error form input[type="search"]:focus{
    outline: none;
}

.form-search-error form input[type="submit"]{
    cursor: pointer;
    width: 20%;
    background: var(--cor-principal);
    color: #FFF;
    border: 1px solid var(--cor-principal);
    font-size: 1.2em;
}

.titulo-error{
    text-align: center;
}

.titulo-error h1{
    color: var(--cor-principal);
    font-size: 2em;
}

.titulo-error h2{
    color: var(--titulo);
    font-size: 1.8em;
}

.image-error, 
.image-error img{
    width: 100%;
}

@media only screen and (max-width: 950px){
    .formoney-error{
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px){
    .form-search-error form input[type="search"],
    .form-search-error form input[type="submit"]{
        font-size: .9em;
        padding: 15px;
    }
    .form-search-error form input[type="search"]{
        width: 70%;
    }
    .form-search-error form input[type="submit"]{
        width: 30%;
    }
    .titulo-error h1{
        font-size: 1.5em;
    }
    .titulo-error h2{
        font-size: 1.3em;
    }
}