.site-main{
    width: 100%;
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

article{
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.formoney-titulos{
    border-bottom: 1px solid rgb(218, 218, 218);
}

.formoney-titulos h1{
    font-size: 2em;
    color: var(--titulo);
    padding: 20px 0;
}

.formoney-titulos h2{
    color: var(--subtitulo);
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
}

.formoney-thumbnail{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formoney-thumbnail img{
    width: 100%;
    height: auto;
}

.site-content p{
    font-size: 1.2em;
    color: #000;
    line-height: 1.5;
    margin: 20px 0;
}

.site-content p a{
    color: var(--cor-principal);
    font-size: 1.2;
    transition: color .3s;
}

.site-content p a:hover{
    color: var(--subtitulo);
}


.site-content h3{
    padding: 10px 0;
    font-size: 1.5em;
}

.site-content h4{
    padding: 10px 0;
    font-size: 1.2em;
}

.site-content ul{
    margin-left: 20px;
}

.site-content ul li{
    list-style: circle;
    margin: 10px 0;
    font-size: 1.1em;
    color: var(--cor-list);
}

.site-content > div{
    width: 100% !important;
    text-align: center;
}

.site-content > div > img{
    width: 100%;
    height: auto;
}

.site-content > div p{
    font-size: 1em;
    color: var(--subtitulo);
    margin: 0;
}

.site-content blockquote p a{
    color: var(--cor-principal);
    font-size: 1.2em;
    transition: color .3s;
}

.site-content blockquote p a:hover{
    color: var(--cor-list);
}

/* Boões de paginação de conteúdo do artigo */
.post-nav-links a{
    background: #FFF;
    color: var(--cor-principal);
    font-size: .9em;
    font-weight: bolder;
    padding: 5px 10px;
    border: 1px solid var(--cor-principal);
    border-radius: 3px;
    transition: all .4s;
}

.post-nav-links a:hover{
    background: var(--cor-principal);
    color: #FFF;
}

.formoney-author{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    border-radius: 5px;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-author{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid var(--cor-principal);
}

.image-author img{
    width: 100%;
    border-radius: 50%;
}

.author-date{
    display: flex;
    flex-direction: row;
}

.author-date p{
    color: var(--cor-list);
    font-size: 1em;
}

.author-date p a{
    color: var(--cor-principal);
    transition: color .3s;
}

.author-date p a:hover{
    color: var(--cor-list);
}

.author-date p b{
    color: var(--cor-principal);
}

.author-date ul{
    display: flex;
    flex-direction: row;
}

.author-date ul li{
    font-size: 1em;
    margin: 0 3px;
    color: var(--cor-list);
}

.author-date ul li b{
    color: var(--cor-principal);
}

.categoria{
    margin-top: 10px;
}

.categoria ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.categoria ul li a{
    padding: 5px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: .8em;
    background: var(--subtitulo);
    color: #FFF;
    transition: background .3s;
}

.categoria ul li a:hover{
    background: var(--cor-principal);
}

@media only screen and (max-width: 950px){
    .site-main{
        flex-direction: column;
    }
    article{
        width: 100%;
    }
}

@media only screen and (max-width: 550px){
    .author-date{
        flex-direction: column;
    }
    .author-date p{
        font-size: .9em;
    }
    .author-date p span{
        display: none;
    }
}